## Task 1
Read yelp.csv into a pandas DataFrame and examine it.

In [484]:
import pandas as pd
yelp_dataset = pd.read_csv('data/yelp.csv')
yelp_dataset.head(10)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
5,-yxfBYGB6SEqszmxJxd97A,2007-12-13,m2CKSsepBCoRYWxiRUsxAg,4,"Quiessence is, simply put, beautiful. Full wi...",review,sqYN3lNgvPbPCTRsMFu27g,4,3,1
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
7,hW0Ne_HTHEAgGF1rAdmR-g,2012-07-12,JL7GXJ9u4YMx7Rzs05NfiQ,4,"Luckily, I didn't have to travel far to make m...",review,1ieuYcKS7zeAv_U15AB13A,0,1,0
8,wNUea3IXZWD63bbOQaOH-g,2012-08-17,XtnfnYmnJYi71yIuGsXIUA,4,Definitely come for Happy hour! Prices are ama...,review,Vh_DlizgGhSqQh4qfZ2h6A,0,0,0
9,nMHhuYan8e3cONo3PornJA,2010-08-11,jJAIXA46pU1swYyRCdfXtQ,5,Nobuo shows his unique talents with everything...,review,sUNkXg8-KFtCMQDV6zRzQg,0,1,0

# Task 2
Create a new DataFrame that only contains the 5-star and 1-star reviews.

In [485]:
col_names = ['stars', 'text']
yelp_data = pd.read_csv('data/yelp.csv', usecols=col_names)
yelp_data = yelp_data[yelp_data.stars.isin([1, 5])]
print('Data Shape', yelp_data.shape)
print('One Star reviews:', len(yelp_data[yelp_data.stars==1]))
print('Five Star reviews:', len(yelp_data[yelp_data.stars==5]))

Data Shape (4086, 2)
One Star reviews: 749
Five Star reviews: 3337

# Task 3
Define X and y from the new DataFrame, and then split X and y into training and testing sets, using the review text as the only feature and the star rating as the response.

In [486]:
X = yelp_data.text
y = yelp_data.stars

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3)

print('X_train:', X_train.shape)
print('X_test:', X_test.shape)
print('y_train:', y_train.shape)
print('y_test:', y_test.shape)

X_train: (2860,)
X_test: (1226,)
y_train: (2860,)
y_test: (1226,)

# Task 4
Use CountVectorizer to create document-term matrices from X_train and X_test.

In [487]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

cvect = CountVectorizer()
tfidf = TfidfVectorizer()

X_train_dtm = cvect.fit_transform(X_train)
#X_train_dtm = tfidf.fit_transform(X_train)
X_train_dtm.shape

(2860, 16282)

In [488]:
X_test_dtm = cvect.transform(X_test)
#X_test_dtm = tfidf.transform(X_test)
X_test_dtm.shape

(1226, 16282)

# Task 5
Use multinomial Naive Bayes to predict the star rating for the reviews in the testing set, and then calculate the accuracy and print the confusion matrix.

In [489]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()

mnb.fit(X_train_dtm, y_train)

y_pred = mnb.predict(X_test_dtm)


# Difference between test and predicted values
print('Errors:', sum(y_test != y_pred))


from sklearn import metrics
# Accuracy
print('Accuracy (Metrics):', metrics.accuracy_score(y_test, y_pred))

# Confusion Matrix
conf_matrix = metrics.confusion_matrix(y_test, y_pred)
print('Confusion Matrix:',conf_matrix)

# Calculations
# True Negative (The reveiws with [y_test = 1 and y_pred = 1])
TN = conf_matrix[0,0] 

# False Positive (The reveiws with [y_test = 1 and y_pred = 5])
FP = conf_matrix[0,1] 

# False Negative (The reveiws with [y_test = 5 and y_pred = 1])
FN = conf_matrix[1,0] 

# True Positive (The reveiws with [y_test = 5 and y_pred = 5])
TP = conf_matrix[1,1] 

Total = TN+FN+FP+TP

# Accuracy
print('\n\n')
print('Accuracy (Matrix):', (TP+TN)/Total)

# Misclassification
print('Misclassification:', (FP+FN)/Total)

# Sensitivity / Recall (How often model predicts star:5 when actually star:5)
print('Sensitivity (Predicting 5):', TP/(TP+FN))

# Precision (How many of predicted star:5 is actually star:5 OR how often it is correct when it predicts 5)
print('Precision (Predicting 5):', TP/(TP+FP))

# Sensitivity / Recall (How often model predicts star:1 when actually star:1)
print('Sensitivity (Predicting 1):', TN/(TN+FP))

# Precision (How many of predicted star:1 is actually star:1 OR how often it is correct when it predicts 1)
if FN !=0:
    print('Precision (Predicting 1):', TN/(TN+FN))


from sklearn.metrics import classification_report
target_names = ['1 Star Review', '5 Star Review']
print('\n\nClassification Report' )
print(classification_report(y_test, y_pred, target_names=target_names))

Errors: 91
Accuracy (Metrics): 0.9257748776508973
Confusion Matrix: [[156  75]
 [ 16 979]]



Accuracy (Matrix): 0.9257748776508973
Misclassification: 0.07422512234910278
Sensitivity (Predicting 5): 0.9839195979899498
Precision (Predicting 5): 0.928842504743833
Sensitivity (Predicting 1): 0.6753246753246753
Precision (Predicting 1): 0.9069767441860465


Classification Report
               precision    recall  f1-score   support

1 Star Review       0.91      0.68      0.77       231
5 Star Review       0.93      0.98      0.96       995

  avg / total       0.92      0.93      0.92      1226

# Task 6 (Challenge)
Calculate the null accuracy, which is the classification accuracy that could be achieved by always predicting the most frequent class.

In [490]:
# Null Accuracy: Examine the predicted class distribution of the testing set (using a Pandas Series method)
y_test.value_counts()

5    995
1    231
Name: stars, dtype: int64

In [491]:
# Reviews with star 5 = 662 / Reviews with star 1 = 156 (5 is the most frequent class)

# Calculate Mean
y_test_mean_5 = y_test.value_counts().head(1)/len(y_test)
y_test_mean_1 = 1 - y_test_mean_5

print('Null Accuracy:', max(y_test_mean_1.item(), y_test_mean_5.item()))

Null Accuracy: 0.8115823817292006

# Task 7 (Challenge)
Browse through the review text of some of the false positives and false negatives. Based on your knowledge of how Naive Bayes works, do you have any ideas about why the model is incorrectly classifying these reviews?

In [492]:
# Reviews that were (y_test=1 and y_pred=5) OR Reviews that were falsely predicted as 5 (Falsely predicted as Positive)
print('Falsely Predicted as 5 (False Positive)\n', X_test[y_test < y_pred].head(10))

# Reviews that were (y_test=5 and y_pred=1) OR Reviews that were falsely predicted as 1 (Falsely predicted as Negative)
print('\nFalsely Predicted as 1 (False Negative)\n', X_test[y_test > y_pred].head(10))

Falsely Predicted as 5 (False Positive)
 1527    The portions are too small, the plasticware ju...
678     This store is banking on the hope they are the...
3527    Wow! I can't believe this place gets so many g...
1704    The only reason 1 star can be given is the fla...
8617    Shocked this place has 4 stars. First off you ...
8755    Not lesbian/gay friendly at all. I should have...
9851    If you like sushi, go somewhere else. I was ex...
3677    Hands down, the single worst public mass trans...
436     this another place that i would give no stars ...
7112    The staff is friendly. But the physical hotel ...
Name: text, dtype: object

Falsely Predicted as 1 (False Negative)
 8053    My wife called to have our vent cleaned since ...
3052    When I met some friends for dinner at this res...
6321    Old school steak house.  Best 22oz ribeye I've...
2494    What a great surprise stumbling across this ba...
6050    I went to sears today to check on a layaway th...
1266    I've never been to this location before. My hu...
8404    Bruce saved my day, my computer crashed this m...
672     Man, I love Southwest.  Best airline ever.  Af...
354     We happened upon this location when meeting a ...
4938    DUDE..where is the manga....where are the card...
Name: text, dtype: object

# Task 8 (Challenge)
Calculate which 10 tokens are the most predictive of 5-star reviews, and which 10 tokens are the most predictive of 1-star reviews.

# Naive Bias Evaluation

In [493]:
# Print Feature Names
feature_names = cvect.get_feature_names()
print(feature_names[0:50])

['00', '000', '00am', '00pm', '01', '02', '04', '05', '06', '07', '09', '0l', '10', '100', '1000', '1001', '100s', '100th', '101', '1030', '1070', '108', '109', '10am', '10ish', '10min', '10minutes', '10pm', '10th', '10x', '10yo', '11', '110', '111', '111th', '112', '115', '116', '118', '11a', '11am', '11pm', '12', '120', '12am', '12oz', '12pm', '12th', '13', '1300']

In [494]:
# Naive Bias counts number of times feature appear in each class
nb_feature_count = mnb.feature_count_
nb_feature_count

array([[29.,  4.,  1., ...,  0.,  0.,  0.],
       [30.,  8.,  1., ...,  1.,  1.,  1.]])

In [495]:
# Rows represent classes, columns represent tokens
mnb.feature_count_.shape

(2, 16282)

In [496]:
# The number of observations in each class (First row is 1 star and Second row is 5 star)
mnb.class_count_

array([ 518., 2342.])

In [497]:
# Number of times each token appears for star 1 
one_star_count =  nb_feature_count[1,:]
one_star_count

array([30.,  8.,  1., ...,  1.,  1.,  1.])

In [498]:
# Number of times each token appears for star 5 
five_star_count = nb_feature_count[0,:]
five_star_count

array([29.,  4.,  1., ...,  0.,  0.,  0.])

In [499]:
# Create a DataFrame of tokens with their separate one-star and five-star counts
tokens = pd.DataFrame({'Feature': feature_names, 'One_Star': one_star_count, 'Five_Star': five_star_count})
tokens.head(10)

  Feature  Five_Star  One_Star
0      00       29.0      30.0
1     000        4.0       8.0
2    00am        1.0       1.0
3    00pm        1.0       7.0
4      01        1.0       0.0
5      02        0.0       1.0
6      04        0.0       1.0
7      05        1.0       2.0
8      06        0.0       2.0
9      07        2.0       5.0

In [500]:
# Adjust values to avoid divide by zero

add_one = lambda x : x+1
tokens['Five_Star'] = tokens['Five_Star'].apply(add_one)
tokens['One_Star'] = tokens['One_Star'].apply(add_one)

In [505]:
# Convert the one-star and five-star counts into frequencies
tokens['One_Star_Freq'] = tokens.Five_Star/mnb.class_count_[0]
tokens['Five_Star_Freq'] = tokens.One_Star/mnb.class_count_[1]
tokens.sample(6, random_state=1)

,Feature,Five_Star,One_Star,One_Star_Freq,Five_Star_Freq,Fiveness,Oneness
6793,haunt,1.0,4.0,0.001931,0.001708,0.884714,1.130309
15145,unappetizing,2.0,1.0,0.003861,0.000427,0.110589,9.042471
10444,pastas,1.0,6.0,0.001931,0.002562,1.327071,0.753539
3578,cph,1.0,2.0,0.001931,0.000854,0.442357,2.260618
1414,bath,1.0,12.0,0.001931,0.005124,2.654142,0.376770
12405,salary,2.0,1.0,0.003861,0.000427,0.110589,9.042471

In [502]:
# Find out most predictive words
tokens['Fiveness'] = tokens.Five_Star_Freq/tokens.One_Star_Freq
tokens['Oneness'] = tokens.One_Star_Freq/tokens.Five_Star_Freq

In [503]:
# Words with high 'Fiveness'
tokens.sort_values('Fiveness', ascending= False).head(10)

,Feature,Five_Star,One_Star,One_Star_Freq,Five_Star_Freq,Fiveness,Oneness
5409,fantastic,2.0,188.0,0.003861,0.080273,20.790777,0.048098
1215,awesome,3.0,281.0,0.005792,0.119983,20.717051,0.048269
10602,perfect,3.0,233.0,0.005792,0.099488,17.178195,0.058213
16209,yum,1.0,57.0,0.001931,0.024338,12.607173,0.079320
5696,flavors,2.0,106.0,0.003861,0.045260,11.722459,0.085306
11691,reasonably,1.0,42.0,0.001931,0.017933,9.289496,0.107648
9451,mozzarella,1.0,40.0,0.001931,0.017079,8.847139,0.113031
5450,favorite,8.0,315.0,0.015444,0.134500,8.708903,0.114825
8617,loved,4.0,155.0,0.007722,0.066183,8.570666,0.116677
2072,brunch,1.0,38.0,0.001931,0.016225,8.404782,0.118980

In [504]:
# WOrds with high 'Oneness'
tokens.sort_values('Oneness', ascending=False).head(10)

,Feature,Five_Star,One_Star,One_Star_Freq,Five_Star_Freq,Fiveness,Oneness
13672,staffperson,17.0,1.0,0.032819,0.000427,0.013010,76.861004
11823,refused,15.0,1.0,0.028958,0.000427,0.014745,67.818533
3611,crappy,10.0,1.0,0.019305,0.000427,0.022118,45.212355
7117,horrible,67.0,7.0,0.129344,0.002989,0.023108,43.274683
10944,pointing,9.0,1.0,0.017375,0.000427,0.024575,40.691120
5585,filthy,9.0,1.0,0.017375,0.000427,0.024575,40.691120
15281,unprofessional,8.0,1.0,0.015444,0.000427,0.027647,36.169884
6080,fuse,8.0,1.0,0.015444,0.000427,0.027647,36.169884
5477,fedex,8.0,1.0,0.015444,0.000427,0.027647,36.169884
398,acknowledged,8.0,1.0,0.015444,0.000427,0.027647,36.169884